[submodule "lib/Symfony/Component/HttpFoundation"]
	path = lib/Symfony/Component/HttpFoundation
	url = git@github.com:symfony/HttpFoundation.git
[submodule "lib/Slim"]
	path = lib/Slim
	url = https://github.com/codeguy/Slim.git
