<phpunit
	bootstrap="tests/includes/bootstrap.php"
        backupGlobals="false"
        colors="true"
        >
    <testsuites>
        <testsuite>
            <directory suffix=".php">tests</directory>
        </testsuite>
    </testsuites>
	<filter>
	  <whitelist>
        <directory suffix=".php">api</directory>
        <file>wp-api.php</file>
	  </whitelist>	
	</filter>
</phpunit>